:root {
  --header-background: #767676;
  --header-link-color: #D3D3D3;
  --main-background: #f2f2f2;
  --grey-background: #e6e6e6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #007bff;
  --font-size-h1: 2.188rem;
  --font-size-p: 1.125rem;
  --font-size-h3: 1.563rem;
  --font-size-copyright: 0.875;
  --font-size-h2: 2.438rem;
  --font-size-16: 1rem;
  --font-size-21: 1.313rem;
  --mobile-p-font-size: 0.875rem;
}