:root {
  --header-background: #040b14;
  --header-link-color: #D3D3D3;
  --main-background: #f2f2f2;
  --grey-background: #e6e6e6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #007bff;
  --accent-color: #149ddd;
  --hover-link-color: #a8a9b4;
  --section-background: #f4fafd;
  --font-size-h1: 24px;
  --font-size-30: 30px;
  --font-size-p: 1.125rem;
  --font-size-h3: 1.563rem;
  --font-size-copyright: 0.875;
  --font-size-h2: 2.438rem;
  --font-size-16: 1rem;
  --font-size-21: 1.313rem;
  --font-size-19: 19px;
  --mobile-p-font-size: 0.875rem;
}