.main-section{
    margin-left: 300px;
    @media screen and (max-width: 1000px){
        margin-left: 0;
    }
}
.home{
    background-image: url('../../assets/main-backg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    background-position: 0 40%;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1000px){
        min-height: 40vh;
        padding: 0 15px;
    }
  &-container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    z-index: 2;
    padding: 0 20px;
    .image{
        width: 30%;
        margin: 0 auto;
        img{
            margin-top: 100px;
            border-radius: 50%;
            width: auto;
            height: 100%;
        }
    }
    h1{
        font-weight: 700;
        margin: 0 0 20px 0;
        display: inline-block;
        color: var(--color-white);
        font-size: 64px;
        @media screen and (max-width: 1000px){
            font-size: var(--font-size-30);
        }
    }
    .list-inline{
        li{
            list-style-type: none;
            display: inline-block;
            border: 1px solid #fff;
            width: 55px;
            height: 55px;
            border-radius: 50px;
            margin: 30px 10px 10px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                svg{
                    width: 20px;
                    height: 20px;
                    color: var(--color-white);
                }
            }
            &:hover{
                background-color: var(--color-white);
	            transform: rotate(360deg);
	            transition: transform 0.8s ease-out;
                svg{
                    color: var(--color-black);
                }
            }
        }
    }
    .typed-out{
        color: var(--color-white);
        font-size: var(--font-size-21);
        font-family: "Raleway", serif;
        display: flex;
        gap: 10px;
        .Typewriter__wrapper{
            border-bottom: 2px solid var(--accent-color);
        }
    }
 }
}
.about-block{
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    &--container{
        text-align: left;
        max-width: 1320px;
        width: 100%;
        h1{
            margin-bottom: 20px;
            font-weight: 600;
        }
        p{
            width: 100%;
            margin: 0 auto 30px;
            line-height: 32px;
            font-size: var(--font-size-p);
        }
        button{
            background-color: transparent;
            border: 0;
            color: var(--accent-color);
            svg{
                margin-right: 5px;
            }
            &:hover{
                color: var(--color-blue);
            }
        }
    }
}
.skills{
    padding: 60px 20px;
    background-color: var(--section-background);
    .main{
        display: flex;
        flex-direction: column;
        max-width: 1320px;
        margin: 0 auto;
        h1{
            font-weight: 600;
            text-align: left;
        }
        p{
            text-align: left;
            margin: 30px 0 30px;
        }
        .skill{
            p{
                text-align: center;
                margin: 8px 0;
            }
        }
        .skills-container{
            display: flex;
            gap: 40px 85px;
            flex-wrap: wrap;
            .skill{
                h4{
                    margin-top: 20px;
                }
                img {
                    width: 110px;
                    height: 110px;
                  }
                p{
                    &:first-child{
                        margin-bottom: 10px;
                        font-size: var(--font-size-p);
                    }
                    &:last-child{
                        font-weight: 600;
                        font-size: var(--font-size-16);
                    }
                }  
            }
        }
    }
}
.education{
    padding: 60px 20px;
    h1{
        font-weight: 600;
        color: var(--color-black);
        margin-bottom: 60px;
        text-align: left;
    }
    .wrapper-card{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &--education,
        &--courses{
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 100%;
            h2{
                font-weight: 700;
                margin-bottom: 40px;
                text-align: left;
                @media screen and (max-width: 1000px){
                    margin-bottom: 15px;
                }
               span{
                border-bottom: 1px solid var(--accent-color);
               }
            }
            .card{
                background-color: transparent;
                border: 0;
                border-left: 2px solid var(--accent-color);
                border-radius: 0;
                position: relative;
                padding-left: 20px;
                &:before{
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50px;
                    left: -9px;
                    top: 0;
                    background: var(--color-white);
                    border: 2px solid var(--accent-color);
                }
                h3{
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: var(--font-size-19);
                    text-align: left;
                    text-transform: uppercase;
                }
                p{
                    font-size: var(--font-size-16);
                    text-align: left;
                    margin-bottom: 25px;
                }
                &:last-child{
                    border-bottom: 0;
                    p{
                        margin-bottom: 0;
                    }
                }
                svg{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 3px;
                }
            }
        }
        &--education{
          .card{
            svg{
                width: 25px;
                height: 25px;
            }
          }  
        }
        .show-more-text{
            background: var(--color-white);
            .show-more-btn{
                color: var(--accent-color)!important;
                padding: 0!important;
                height: 50px;
                background: transparent!important;
                position: relative;
                border: 0;
                border-radius: 0!important;
                font-weight: 300;
                @media screen and (max-width: 1000px){
                    max-width: 36%!important;
                }
                &:hover{
                    color: var(--color-blue)!important;
                }
            }
        }
    }
}
.portfolio{
    padding: 60px 20px;
    background-color: var(--section-background);
    .container{
        max-width: 1320px;
        margin: 0 auto;
    }
    h1{
        font-weight: 600;
        margin-bottom: 60px;
        text-align: left;
    }
    .main{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px 48px;
        .view{
            flex: 1 1 24%;
            height: 250px;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            box-shadow: 1px 1px 2px var(--grey-background);
            cursor: default;
            @media screen and (max-width: 1500px){
                flex: 1 1 31%;
            }
            @media screen and (max-width: 1200px){
                flex: 1 1 32%;
            }
            @media screen and (max-width: 900px){
                flex: 1 1 45%;
            }
            @media screen and (max-width: 600px){
                flex: 1 1 100%;
            }
            img{
                transition: all 0.2s linear;
                width: 100%;
                height: 100%;
            }
            .mask{
                width: 100%;
                height: 100%;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                background-color: rgb(0, 0, 0, 0.8);
                transition: all 0.4s ease-in-out;
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: var(--color-white);
                    margin-left: -3px;
                    text-transform: uppercase;
                }
            }
            &:hover{
                .mask{
                    opacity: 1;
                    a{
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.2s;
                    }
                }
                img{
                    transform: scale(1.1,1.1);
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1560px) {
    .customModal{
        width: 50%;
    }
}
@media screen and (max-width: 1023px){
    .home{
        &-container{
            .image{
                width: 100%;
            }
        }
    }
    .about-block{
        padding: 40px 15px;
    }
    .talkabout{
        h2{
            max-width: 100%;
            font-size: var(--font-size-h3);
        }
    }
    .customModal{
        width: 87%;
    }
    .skills{
        padding: 40px 15px;
        .main{
            h1{
                margin-bottom: 40px;
            }
            .skills-container{
                flex-wrap: wrap;
                gap: 20px 0;
                .skill{
                    width: 50%;
                }
            }
        }
    }
    .education{
        padding: 40px 15px;
        h1{
            margin-bottom: 40px;
        }
        .wrapper-card{
            flex-direction: column;
            &--education,
            &--courses{
                width: 100%;
                .card{
                    h3{
                        font-size: var(--font-size-16);
                    }
                    p{
                        font-size: var(--mobile-p-font-size);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .portfolio{
        padding: 40px 15px;
        h1{
            margin-bottom: 40px;
        }
        .main{
            .view{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                .mask{
                    width: 100%;
                }
            }
        }
    }
}
.label{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: var(--accent-color);
        left: 0;
        bottom: -10px;
    }
}