.home{
    background-image: url('../../assets/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    max-width: 100%;
    text-align: center;
    background-position: 50% 0;
    position: relative;
  &-container{
    position: relative;
    z-index: 2;
    .image{
        width: 30%;
        margin: 0 auto;
        img{
            margin-top: 100px;
            border-radius: 50%;
            width: auto;
            height: 100%;
        }
    }
    h1{
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
        padding: 10px 10px;
        border-bottom: 3px solid;
        display: inline-block;
        position: relative;
        border-radius: 20%;
        color: var(--color-white);
        font-size: var(--font-size-h1);
        text-align: center;
        &:after{
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            bottom: -23px;
            left: 50%;
            margin-left: -10px;
            background: none;
            border: 10px solid transparent;
            border-top-color: var(--color-white);
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
    .list-inline{
        li{
            list-style-type: none;
            display: inline-block;
            border: 1px solid #fff;
            width: 55px;
            height: 55px;
            border-radius: 50px;
            margin: 30px 10px 10px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                svg{
                    width: 20px;
                    height: 20px;
                    color: var(--color-white);
                }
            }
            &:hover{
                background-color: var(--color-white);
	            transform: rotate(360deg);
	            transition: transform 0.8s ease-out;
                svg{
                    color: var(--color-black);
                }
            }
        }
    }
 }
 .scroll-down {
    opacity: 1;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-white);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    animation: bounce 2s infinite 2s;
    transition: all .2s ease-in;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid var(--color-white);
        border-width: 0px 0 2px 2px;
    }
    &:hover{
        background-color: var(--color-white);
        &:before{
            border-color: var(--color-black);
        }
    }
  }
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }
}
.about-block{
    background-color: var(--main-background);
    padding: 60px 0;
    &--container{
        h1{
            margin-bottom: 20px;
            font-weight: 600;
        }
        p{
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            line-height: 32px;
            font-size: var(--font-size-p);
        }
    }
}
.talkabout{
    width: 100%;
    height: 350px;
    padding: 60px 0;
    color: var(--color-white);
    margin: auto;
    text-align: center;
    background-image: url("../../assets/3.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
        padding: 10px 10px;
        border-bottom: 3px solid;
        display: inline-block;
        border-radius: 20%;
        color:  var(--color-white);
        font-size: var(--font-size-h2);
        text-align: center;
        width: 100%;
        max-width: 40%;
        &:after{
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            bottom: -23px;
            left: 50%;
            margin-left: -10px;
            background: none;
            border: 10px solid transparent;
            border-top-color: var(--color-white);
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
    button{
        display: flex;
        align-items: center;
        margin: 50px 0 0;
        background: var(--color-white);
        text-transform: uppercase;
        &:hover{
            background: transparent;
            border: 1px solid var(--color-white);     
        }
        svg{
            margin-right: 12px;
        }
        p{
            margin: 0;
        }
    }
}
.customModal {
    width: 20%;
    h2{
        text-align: center;
        margin: 20px 0;
        font-size: var(--font-size-h1);
        font-weight: 600;
    }
    div{
        p{
            font-weight: 600;
            a{
                color: var(--color-black);
                text-decoration: none;
                font-weight: 300;
                &:hover{
                    color: var(--color-blue);
                }
            }
            &:first-child{
                a{
                    margin-left: 20px;
                }
            }
            &:nth-child(2){
                a{
                    margin-left: 40px;
                }
            }
            &:last-child{
                a{
                    margin-left: 10px;
                }
            }
        }
    }
 }
.skills{
    padding: 60px 0;
    .main{
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: 0 auto;
        h1{
            font-weight: 600;
            margin-bottom: 60px;
        }
        .skills-container{
            display: flex;
            justify-content: flex-start;
            gap: 40px 0;
            flex-wrap: wrap;
            .skill{
                width: 20%;
                h4{
                    margin-top: 20px;
                }
                img {
                    width: 110px;
                    height: 110px;
                  }
                p{
                    &:first-child{
                        margin-bottom: 10px;
                        font-size: var(--font-size-p);
                    }
                    &:last-child{
                        font-weight: 600;
                        font-size: var(--font-size-16);
                    }
                }  
            }
        }
    }
}
.education{
    background-color: var(--header-background);
    padding: 60px 0;
    h1{
        font-weight: 600;
        color: var(--color-white);
        margin-bottom: 60px;
    }
    .wrapper-card{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &--education,
        &--courses{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            background: var(--color-white);
            border-radius: 25px;
            padding: 40px 20px 20px;
            height: 100%;
            h2{
                font-weight: 600;
            }
            .card{
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid var(--header-background);
                border-radius: 0;
                position: relative;
                padding-left: 40px;
                h3{
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: var(--font-size-21);
                    text-align: left;
                    text-transform: uppercase;
                }
                p{
                    font-size: var(--font-size-16);
                    text-align: left;
                    font-weight: 300;
                    font-family: 'Ubuntu';
                    margin-bottom: 25px;
                }
                &:last-child{
                    border-bottom: 0;
                }
                svg{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 3px;
                }
            }
        }
        &--education{
          .card{
            svg{
                width: 25px;
                height: 25px;
            }
          }  
        }
        .show-more-text{
            background: var(--color-white);
            .show-more-btn{
                max-width: 100%!important;
                color: var(--color-black)!important;
                padding: 0!important;
                height: 50px;
                background: transparent!important;
                position: relative;
                border: 1px solid var(--color-black);
                font-family: 'Ubuntu';
                font-weight: 600;
                &:hover{
                    background: var(--color-black)!important;
                    color: var(--color-white)!important;
                }
            }
        }
        .show-block{
            .card{
                margin-bottom: 30px;
            }
        }
    }
}
.portfolio{
    padding: 60px 0;
    h1{
        font-weight: 600;
        font-size: var(--font-size-h1);
        margin-bottom: 60px;
    }
    .main{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        .view{
            width: 400px;
            height: 250px;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            box-shadow: 1px 1px 2px var(--grey-background);
            cursor: default;
            img{
                transition: all 0.2s linear;
                width: 400px;
                height: 250px;
            }
            .mask{
                width: 400px;
                height: 100%;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                background-color: rgb(0, 0, 0, 0.8);
                transition: all 0.4s ease-in-out;
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: var(--color-white);
                    margin-left: -3px;
                    text-transform: uppercase;
                }
            }
            &:hover{
                .mask{
                    opacity: 1;
                    a{
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.2s;
                    }
                }
                img{
                    transform: scale(1.1,1.1);
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1560px) {
    .customModal{
        width: 50%;
    }
}
@media screen and (max-width: 1023px){
    .home{
        &-container{
            .image{
                width: 100%;
            }
        }
    }
    .about-block{
        padding: 40px 15px;
    }
    .talkabout{
        h2{
            max-width: 100%;
            font-size: var(--font-size-h3);
        }
    }
    .customModal{
        width: 87%;
    }
    .skills{
        padding: 40px 15px;
        .main{
            h1{
                margin-bottom: 40px;
            }
            .skills-container{
                flex-wrap: wrap;
                gap: 20px 0;
                .skill{
                    width: 50%;
                }
            }
        }
    }
    .education{
        padding: 40px 15px;
        h1{
            margin-bottom: 40px;
        }
        .wrapper-card{
            flex-direction: column;
            &--education,
            &--courses{
                width: 100%;
                gap: 10px;
                .card{
                    h3{
                        font-size: var(--font-size-16);
                    }
                    p{
                        font-size: var(--mobile-p-font-size);
                        margin-bottom: 10px;
                    }
                }
            }
            .show-block{
                .card{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .portfolio{
        padding: 40px 15px;
        h1{
            margin-bottom: 40px;
        }
        .main{
            .view{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                .mask{
                    width: 100%;
                }
            }
        }
    }
}